<form  #songForm="ngForm" class="form-horizontal" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="form-group col">
      <input type="text" class="form-control" placeholder="Song Name" id="name" required [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group col">
      <input type="text" class="form-control" placeholder="Artist" id="artist" required [(ngModel)]="model.artist" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group col">
      <input type="text" class="form-control" placeholder="Genre" id="genre" required [(ngModel)]="model.genre" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group col">
      <input type="text" class="form-control" placeholder="Length" id="length" required [(ngModel)]="model.time" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>

<ag-grid-angular #agGrid
                 class="ag-theme-balham grid"
                 [gridOptions]="gridOptions"
                 [columnDefs]="columnDefs"
                 [rowData]="rowData"
                 [enableSorting]="true"
                 [enableColResize]="true"
                 [pagination]="true"
                 [paginationAutoPageSize]="true"
                 rowSelection="multiple">
</ag-grid-angular>
<div><span>Bulk actions: </span>
  <button type="button" class="btn btn-danger" (click)="deleteSelectedRows()"><span class="oi oi-trash"></span></button>
</div>
